* > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calendar {
    width: 50%;
    margin: 0 auto;
}

#calendar-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

#calendar-header {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

#calendar-header > h1 {
    display: inline-block;
    margin: 3rem 0;
}

#calendar-header > h1:hover {
    cursor: pointer;
}

#calendar-header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;   
}

.header-btn {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    cursor: pointer;
}

/* Day Container */

.day {
    aspect-ratio: 1 / 0.75;
    width: 14.285714%;
}

.day:hover {
    border: 1px solid blue;
}

.day-prev, .day-next {
    background-color: lightgrey;
    opacity: 75%;
}

.day-today {
    border: 1px solid green;
}

/* Day Number Span */

.day-number {
    margin-top: 1rem;
    margin-left: 1rem;
}

.day-number-today {
    color: green;
}

/* Tabs and Panes */

.tabs {
    background: lightseagreen;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.tabs button {
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid lightseagreen;
    padding: 0.75rem;
    padding-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.tabs button.active {
    background-color: white;
}

.tabs h3 {
    color: white;
    margin-right: 1rem;
}

.tabs div {
    height: 100%;
    margin: 0 1rem;
    display: flex;

}

.tab-pane {
    display: none;
}

.tab-pane #calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.active {
    border-bottom: none !important;
}

/* Scheduler Header */

#scheduler-header {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

#scheduler-header > h1 {
    margin: 3rem 0;
}

#scheduler-body {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#scheduler-body > div {
    flex-basis: 33.33%;
    max-height: 1000px;
    overflow-y:auto;
}

#scheduler-body > div:first-of-type {
    padding: 0 2rem;
}

#scheduler-body > div:last-of-type {
    padding: 0 2rem;
}

#scheduler-employee-list {
    display: flex;
    flex-direction: column;
}

/* Employee Card */

.employee-card {
    position: relative; 
    border: 1px solid #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    font-family: Arial, sans-serif;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.employee-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.employee-position {
    font-size: 1rem;
    color: #666;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.employee-phone {
    font-size: 0.75rem;
}

.employee-add-btn, .employee-remove-btn {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    background-color: #4CAF50;
    color: white;
    padding: 0.35rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.employee-remove-btn {
    background-color: red;
}

.employee-remove-btn:hover {
    background-color: darkred;
}

.employee-add-btn:hover {
    background-color: #45a049;
}


/* Job Entry Form */
#crew {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}

#crew .employee-card {
    flex-basis: calc(50% - 2rem);
    margin: 0;
}

#job-form-container {
    border: 1px solid black;
    border-radius: 0.5rem;
}

#job-form-container > h2 {
    padding: 1rem;
    text-align: center;
}

#job-entry-form {
    position: relative;
    padding: 1rem;
}

input[type="time"] {
    width: max-content;
}

fieldset > div {
    display: flex;
    gap: 2rem;
}

label[for=state], label[for=zip-code] {
    display: block;
}

div:has(> #notes) {
    display: block;
}

#notes {
    display: block;
    width: 100%;
    min-height: 4rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

#zip-code, select {
    padding: 0.25rem;
    border-radius: 0.3rem;
}

select {
    background-color: inherit;
    margin-bottom: 0.5rem;
}

fieldset > input {
    width: 100%;
    padding: 0.25rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    display: block;
}

fieldset {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#job-entry-form > button {
    font-size: 1rem;
    position: absolute;
    top: -2rem;
    right: 20px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid green;
    cursor: pointer;
}

#job-entry-form > button:hover {
    background-color: whitesmoke;
}

.job-form-group {
    margin-bottom: 1rem;
}

#start-time {
    border: none;
}

#start-time:focus {
    outline: none;
}

.timeline-container {
    text-align: center;
}

.timeline-container > h2 {
    padding: 1rem 0;
}

.job-card {
    position: relative;
    margin: 0 auto;
    width: 75%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.job-card > * {
    padding: 0.25rem;
}

.job-card i {
    margin-right: 0.25rem;
}

.fa-arrow-right, .fa-user, .fa-clock {
    margin-left: 0.25rem;
}

.fa-trash, .fa-pen {
    cursor: pointer;
}

.fa-trash:hover, .fa-pen:hover {
    color: red;
}

.job-card span {
    margin-left: 0.25rem;
}

.job-card div:nth-of-type(2) > span::before {
    content: '| '
}

.crew-member:not(.crew-member:last-of-type)::after {
    content: ' |';
}

.controls-container {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

.controls-container i:first-of-type {
    margin-right: 1rem;
}
