* > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calendar {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendar-body {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

#calendar-header {
    text-align: center;
    width: 100%;
    padding: 1rem;
}

#calendar-header > h1 {
    padding-bottom: 3rem;
}

#calendar-header > h1:hover {
    cursor: pointer;
}

#calendar-header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;   
}

.header-btn {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    cursor: pointer;
}

/* Day Container */

.day {
    aspect-ratio: 1 / 1;
    width: 14.285714%;
}

.day:hover {
    border: 1px solid blue;
}

.day-prev, .day-next {
    background-color: lightgrey;
    opacity: 75%;
}

.day-today {
    border: 1px solid green;
}

/* Day Number Span */

.day-number {
    margin-top: 1rem;
    margin-left: 1rem;
}

.day-number-today {
    color: green;
}